.section {
	padding: 3.5rem calc(var(--Site_Margin, 15px) * 2);
}

.inner {
	max-width: 420px;
}

.text {
	font-size: 0.75rem;
	line-height: 1.7;
	color: var(--Color_Dark);
	opacity: 0.65;
}

@media (max-width: 767px) {
	.section {
		padding: 2.5rem 1.25rem;
	}

	.inner {
		max-width: 320px;
	}
}
